# Compiled Object files, Static and Dynamic libs
*.o
*.a
*.so

# Directories
vendor/
logs/
_local/

# p4merge backups
*.orig

# Misc
.*.swp
*.cgo*.go
*.test
*.out
Gopk_*
.env
CHANGES

# Mac
.DS_Store
